* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "Open Sans", sans-serif;
}
/*General*/
img {
    max-width: 100%;
}
.download-btn {
    background-color: #0061FF;
    height: 30px;
    width: 50px;  
}
.download-btn a  {
    text-decoration: none;
    color: white;
}
.larger {
    width: 180px;
}
/*HEADER*/
.header-top {
    width: 100%;
    height: 5%vh;
    background-color: white;
}
.header-top-container {
    display: flex;
    justify-content: space-between;   
}
.lightblue-background {
    background-color: #B4D0E7;
}
.header-bottom-container {
    max-width: 1000px;
    max-height: 610px;
    margin: 0 auto;
}
.nav-bar {
    display: flex;
    margin: 10px;
    padding-left: 10px;
    align-items: center;
}
.nav-bar > li {
    margin: 10px;
    padding-left: 10px;
    list-style: none;
}
.nav-bar > li > a {
    color: black;
    text-decoration: none;
}
.col1-3 {
    width: calc(100%/3);
}
.col2-3 {
    width: calc((100%/3) * 2);
}
.my-row {
    display: flex;
    justify-content: space-between;
}
header h1 {
    font-size: 4rem;
    padding: 50px 0;
}
header p {
    padding-bottom: 30px;
}

.padd {
    padding-top: 30px;
    padding-bottom: 30px;
}
.more-padd {
    padding-top: 150px;
    padding-bottom: 150px;
}

#frecciagiu {
    font-size: 2rem;
    padding: 20px 0;
}
.txt-right {
    text-align: right;
}
/*MAIN*/

/*SEZIONE1*/

.small-container {
    max-width: 800px;
    margin: 70px auto;
}
.small-container h2 {
    font-size: 2.5rem;
    padding: 20px 0 50px;
}
.fatturazione {
    margin-right: 40px;
}
.my-row1-3 {
    display: flex;
}
.my-row .my-col1-3 {
    width: calc((100% / 3) - 40px);
}

.my-col1-3:not(:last-of-type) {
    margin-right: 20px;
}
.title-plan {
    border: 1px solid lightgray;
    padding: 5px;
    
}
.plan-detail {
    border: 1px solid lightgray;
    padding: 15px;
    height: 850px;
}
.title-plan {
    text-align: center;
}
.plan-detail > ul > li {
    list-style: none;
    padding: 10px 0;
}
.plan-detail > ul {
    margin: 20px 0;
}
.plan-detail > p {
    padding: 10px 0;
}
.plan-detail > hr {
    width: 20%;
    color: lightgray;
    opacity: 0.5;
    margin: 15px 0;
}
#check {
    color: #0061FF;
}
.bold {
    font-weight: bold
}
.gray {
    color: gray;
}
.team-plan {
    border: 1px solid lightgray;
    padding: 20px 20px;
   
}
.team-plan .col2-3 h3 {
    padding-bottom: 10px;
    font-size: 1.4rem;
}
.team-plan .col2-3 h5 {
    padding-bottom: 20px;
    font-size: 1.1rem;
}
.team-plan .col2-3 p {
    
    font-size: 0.9rem;
}
/*SEZIONE 2*/
.flex {
    display: flex;
}
.big {
    width: 60%;
    margin-right: 25px;
}
.small {
    width: 40%;
    margin-top: 25px;
}
.small h3 {
    font-size: 1.4rem;
}
.small p {
    padding: 20px 0;
}
.partner-btn {
    background-color: white;
    border: 1px solid black;
    width: 130px;
}
.partner-btn a  {
    text-decoration: none;
    color: black;
}
/*SEZIONE3*/
.my-row1-3-6 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.my-row1-3-6 .my-col1-3 {
    width: 30%;
}
.my-row1-3-6 .my-col1-3 p {
    padding: 15px 0;
    font-size: 0.9rem;
}
/*SEZIONE4*/
.big-container {
    width: 100%;
    display: flex;
    margin: 0;
}
.square-container {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    
    display: flex;
    flex-wrap: wrap;
}
.central-square {
    display: block;
    background-color: #F5F5F5;
    padding: 25px;
}
.square-container.central-square img {
    height: 100px;
    width: 200px;
    object-fit: contain;
}

.square-container.central-square hr {
    width: 20%;
    color: gray;
    margin: 15px 0;
    opacity: 0.7;
}
.square-container.central-square p {
    font-size: 0.9rem;
    margin: 35px 0;
    
}
.chessboard,
.chessboard-two {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chessboard:nth-child(1) {
    background-color: #A2D39B;
    border: 10px solid #D1E9CD;
}
.chessboard-two:nth-child(1) {
    background-color: #D5001F;
}
.chessboard:nth-child(2) {
    background-color: #61082B;
}
.chessboard-two:nth-child(2) {
    background-color: #B4D0E7;
}
.chessboard:nth-child(3) {
    background-color: #0093CE;
}
.chessboard-two:nth-child(3) {
    background-color: #0D2481;
}
.chessboard:nth-child(4) {
    background-color: #FF1C1C;
}
.chessboard-two:nth-child(4) {
    background-color: #FFD830;
}
.small-img {
    filter: invert(1);
}
.resize-img {
    height: 100px;
    width: 150px;
    object-fit: contain;
}
/*SEZIONE5*/
.no-margin {
    margin: 0 auto;
}
#bigger {
    font-size: 2.5rem;
    margin: -20px;
}
.white-btn {
    background-color: white;
}
.white-btn a {
    color: black;
}
/*SEZIONE6*/
.single-faq {
    position: relative;
    padding: 20px 10px;
    border-top: 1px solid black;
}
.single-faq p {
    font-weight: bold;
    font-size: 0.8rem;
}
.single-faq:last-child {
    border-bottom: 1px solid black;
}
#chev-down {
    position: absolute;
    right: 3%;
    top: 35%;
}
/*FOOTER*/
footer {
    background-color: black;
}
.footer-top {
    width: 1000px;
    margin: 50px auto;
}
.footer-bottom {
    padding: 25px 0;
    width: 1000px;
    margin: 0px auto;
}
.footer-row {
    display: flex;
    padding-top: 100px;
}
.footer-col {
    width: 20%;
}
.footer-col nav ul {
    list-style: none;
}
.footer-col nav ul h3 {
    color: white;
    padding-bottom: 50px;
}
.footer-col nav ul li {
    padding-bottom: 20px;

}
.footer-col nav ul li a {
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
    font-size: 0.8rem;
}
.footer-top hr {
    width: 10%;
    color: gray;
    margin: 50px 0;
    opacity: 0.7;
}
.language {
    padding-bottom: 20px;
    font-size: 0.8rem;
}
.language a {
    text-decoration: none;
    color: gray;
    opacity: 0.7;
}