* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "Open Sans", sans-serif;
}
/*General*/
img {
    max-width: 100%;
}
.download-btn {
    background-color: #0061FF;
    height: 30px;
    width: 50px;  
}
.download-btn a  {
    text-decoration: none;
    color: white;
}
.larger {
    width: 180px;
}
/*HEADER*/
.header-top {
    width: 100%;
    height: 5%vh;
    background-color: white;
}
.header-top-container {
    display: flex;
    justify-content: space-between;   
}
.header-bottom {
    background-color: #B4D0E7;
}
.header-bottom-container {
    max-width: 1000px;
    max-height: 610px;
    margin: 0 auto;
}
.nav-bar {
    display: flex;
    margin: 10px;
    padding-left: 10px;
    align-items: center;
}
.nav-bar > li {
    margin: 10px;
    padding-left: 10px;
    list-style: none;
}
.nav-bar > li > a {
    color: black;
    text-decoration: none;
}
.col1-3 {
    width: calc(100%/3);
}
.col2-3 {
    width: calc((100%/3) * 2);
}
.my-row {
    display: flex;
    justify-content: space-between;
}
header h1 {
    font-size: 4rem;
    padding: 50px 0;
}
header p {
    padding-bottom: 30px;
}

.padd {
    padding-top: 30px;
    padding-bottom: 30px;
}
#frecciagiu {
    font-size: 2rem;
    padding: 20px 0;
}
.txt-right {
    text-align: right;
}
/*MAIN*/

/*sezione1*/

.plan-container {
    max-width: 800px;
    margin: 70px auto;
}
.plan-container h2 {
    font-size: 2.5rem;
    padding: 20px 0 50px;
}
.fatturazione {
    margin-right: 40px;
}
.my-row1-3 {
    display: flex;
}
.my-row .my-col1-3 {
    width: calc((100% / 3) - 40px);
}

.my-col1-3:not(:last-of-type) {
    margin-right: 20px;
}
.title-plan {
    border: 1px solid lightgray;
    padding: 5px;
    
}
.plan-detail {
    border: 1px solid lightgray;
    padding: 15px;
    height: 850px;
}
.title-plan {
    text-align: center;
}
.plan-detail > ul > li {
    list-style: none;
    padding: 10px 0;
}
.plan-detail > ul {
    margin: 20px 0;
}
.plan-detail > p {
    padding: 10px 0;
}
.plan-detail > hr {
    width: 20%;
    color: lightgray;
    opacity: 0.5;
    margin: 15px 0;
}
#check {
    color: #0061FF;
}
.bold {
    font-weight: bold
}
.gray {
    color: gray;
}
.team-plan {
    border: 1px solid lightgray;
    padding: 20px 20px;
   
}
.team-plan .col2-3 h3 {
    padding-bottom: 10px;
    font-size: 1.4rem;
}
.team-plan .col2-3 h5 {
    padding-bottom: 20px;
    font-size: 1.1rem;
}
.team-plan .col2-3 p {
    
    font-size: 0.9rem;
}
/*sezione 2*/
.flex {
    display: flex;
}
.big {
    width: 60%;
    margin-right: 25px;
}
.small {
    width: 40%;
    margin-top: 25px;
}
.small h3 {
    font-size: 1.4rem;
}
.small p {
    padding: 20px 0;
}
.partner-btn {
    background-color: white;
    border: 1px solid black;
    width: 130px;
}
.partner-btn a  {
    text-decoration: none;
    color: black;
}